/* Button-Styles*/

.button {
  display: inline-block;
  background-color: #6247aa;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  border: 3px solid #6247aa;
  border-radius: 50px;
  color: white;
  font-weight: 300;
  text-decoration: none;
  box-shadow: 4px 3px 0px 2px #422E77;
  padding: 12px 50px;
  min-width: 80px;
}




.button:hover {
  box-shadow: 0 0;
  transition: box-shadow 0.3s ease-out;
}

.button-secondary {
  background-color: transparent;
  border: 3px solid #6247aa;
  color: #6247aa;
  font-weight: 400;
}

.button-secondary-inverse {
  background-color: transparent;
  border: 2px solid #6247aa;
  color: #fff;
  font-weight: 400;
}

/*Social Icons*/

.social-icons {

}

.social-icon {
    max-width: 65px;
    margin: 0 5px;
}

/* To-Top-Button*/

.to-top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3em 3em 0;
  
  text-decoration: none;
  
  background-color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
  border: 3px solid #F6BE00;
  border-radius: 2px;
  color: #002f3c ;
  box-shadow: 6px 5px 0px 0px #54595F;
  margin-right: 20px;
  padding: 10px 10px;
  min-width: 80px;
}

/* Paragraph-Styles */

p {
  font-family: Nunito, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 300;

  color: #28303D;

  line-height: 1.5em;
}

.smaller-font {
  font-size: 16px;
}

.bigger-font {
  font-size: 20px;
}

/* Headline-Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: Prompt, sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;

  color: #060f12;

  padding: 0px 0px;
} 

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.hero-headline {
  font-size: 50px;
  text-transform: uppercase;
}

.lighter-headline {
  font-weight: 400;
}

.fontcolor-darkmode {
  color: white;
}

.accent-headline {
  font-family: 'Russo One', sans-serif;
  color: #6247aa;
  text-transform: lowercase;
  font-size: 18px;
}

.accent-headline-darkmode {
  color: white;
  font-family: 'Russo One', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
}

/* Card-Styles */

.box-shadow {
  box-shadow: 0px 8px 16px 0px rgba(6,15,18,0.24);
}

.box-shadow-top {
  box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.24);
}

.box-shadow-inverse {
  box-shadow: inset 0px -8px 16px 0px rgba(6,15,18,0.3);
}

.box-shadow-inverse-top {
  box-shadow: inset 0px 8px 16px 0px rgba(6,15,18,0.3);
}

.border-radius {
  border-radius: 25px;
}

/* Colors */

.background-accent-color-one {
  background: #6247aa;
}

.background-accent-color-two {
  background: #F9AC2F;
}

.background-primary {
  background: #102b2f;
}

.background-space-black {
  background: #060f12;
}

.background-dark-grey {
  background: #28303D;
}

.background-light-grey {
  background: #54595F;
}

.background-noble-green {
  background: #062726
}

.background-white {
  background: white;
}

/* Color Gradient */

.color-gradient-background {
  background: rgb(98,71,170);
  background: linear-gradient(172deg, rgba(98,71,170,1) 0%, rgba(6,15,18,1) 65%);
}

.color-gradient-low-background {
  background: rgb(98,71,170);
  background: linear-gradient(175deg, rgba(98,71,170,1) 0%, rgba(6,15,18,1) 95%);
}

/* Link Style */


/* General Utilities*/

.center-text {
  text-align: center;
}

.icon-size-small {
  max-width: 35px;
}

/* Responsive Styles */

@media all and (max-width: 800px) {

  h1 {
      font-size: 24px;
    }
    
    h2, h3 {
      font-size: 20px;
    }
  
    h4, h5, h6 {
      font-size: 16px;
    }
  
    p {
      font-size: 15px;
    }
  
    .accent-headline {
      font-size: 14px;
    }

    .smaller-font {
      font-size: 14px;
    }

    .bigger-font {
      font-size: 17px;
    }
  
  }