body {
  margin: 0;
  padding: 0;
}

.section-wrapper {
  padding: 75px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  padding: 25px 25px;
  margin: 20px 10px;
  }

.card-dark {
  background-color: #060f12;
  color: white;
}

.limit-card-45 {
  max-width: 45%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Button-Group */

.button-group a {
  margin: 10px;
}

  /* Structural Elements */

  /* Lists*/

  ul li {
    margin: 10px 0;
    font-family: Nunito, sans-serif;
  }
  
  ul a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

  /* Divider */

  .divider {
    border-top: 7px solid #6247AA;
    width: 10%;
    display: inline-block;
  }

  /* Responsive Styles */

@media all and (max-width: 800px) {

  .limit-card-45 {
    max-width: 100%;
  }
  
  .section-wrapper {
    padding: 10% 20px;
  }
  .card {
    margin: 10px;
    padding: 10px 20px;
  }

  .divider {
    width: 35%;
  }
}