.section-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.column {
    padding: 25px 25px;
    margin: 20px 10px;
  }

  .column-dark {
  background-color: #060f12;
  color: white;
}

.flex-container {
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* To-Top-Button*/

.to-top-button {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3em 3em 0;

  text-decoration: none;

  background-color: transparent;
  font-family: 'Russo One', sans-serif;
  font-size: 14px;
  border: 3px solid #F6BE00;
  border-radius: 2px;
  color: #002f3c ;
  box-shadow: 6px 5px 0px 0px #54595F;
  margin-right: 20px;
  padding: 10px 10px;
  min-width: 80px;
  opacity: 0.9;
}

.button-primary:hover {
  opacity: 1;
}

  /* Responsive Styles */

@media all and (max-width: 800px) {

  .page-wrapper {
    padding: 0px 10px;
  }

  .column {
    margin: 10px;
    padding: 10px 20px;
  }
}