body {
  margin: 0;
  padding: 0;
}

.section-wrapper {
  padding: 75px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.content-width-limiter {
  margin: 0 auto;
  max-width: 1200px;
}

.small-fullwidth-bar {
  height: 20px;
}

.card {
  padding: 25px 25px;
  margin: 20px 10px;
  }

.card-dark {
  background-color: #060f12;
  color: white;
}

.limit-card-15 {
  max-width: 15%;
}

.limit-card-45 {
  max-width: 45%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Button-Group */

.button-group a {
  margin: 10px;
}

  /* Structural Elements */

  /* Lists*/

  ul li {
    margin: 10px 0;
    font-family: Nunito, sans-serif;
  }
  
  ul a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

  /* Divider */

  .divider {
    border-top: 7px solid #6247AA;
    width: 10%;
    display: inline-block;
  }

/*Specific Section Styling*/

#section-shadow-specs {
  margin-bottom: 200px;
}

/* Responsive Styles */

@media all and (max-width: 800px) {

  .limit-card-45 {
    max-width: 100%;
  }
  
  .section-wrapper {
    padding: 10% 10px;
  }

  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    margin: 10px;
    padding: 10px 10px;
  }

  .divider {
    width: 35%;
  }
}