.footer-column {
    min-width: 15%
}

.social-icons-footer {
    margin-top: 25px;
}

.footer-column li {
    list-style: none;
    padding: 10px 0;
}

.footer-column a {
    color: white;
    font-weight: 300;
}

.footer-icon {
    max-width: 65px;
    margin: 0 5px;
}