body {
  margin: 0;
  padding: 0;
}

/* Section Styling */

#headline-specs {
  margin-top: 100px;
  margin-bottom: 100px;
}

#accent-headline-specs {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Site-Specific Component Styles */

.color-tile {
  min-width: 100px;
}

/* Responsive Styling */

@media all and (max-width: 800px) {
  
  div {
    max-width: 100%;
  }

}