body {
  margin: 0;
  padding: 0;
}

/* Section Styling */

.hero-astronaut {
  max-width: 80%;
  margin-top: 5vh;
}

.gradient-column {
  min-width: 33%;
}

/* Site-Specific Component Styles */

.color-tile {
  min-width: 100px;
}

.color-section-divider {
  margin: 2em 1em;
}